.wrappper{

    display: flex;
    color: white;
    background-color: #292929;

.sideContainer{
    
    height: 50vh;
    margin-top: 1rem;
    font-weight: 400;
    
    
    font-family: 'Work Sans', sans-serif;
    width: 15%;
    

.name{
margin-bottom: 0rem;
margin-left: 1rem;
font-size: 1.5rem;
}
.email{
margin-bottom: 0rem;
margin-left: 1rem;
font-size: 0.9rem;
font-weight: 400;
}
.city{
margin-bottom: 0rem;
margin-left: 1rem;
font-weight: 400;
font-size: 1rem;
}
}

.bioContainer{

margin-top: 1rem;
padding-left: 3rem;
padding-right: 5rem;


h1{
    font-weight: 400;
    font-size: 2rem;
}


}






}



